<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<h2>comments</h2>
<div id="comments">
  <%= @post.comments.each do |comment| %>
  	<%= div_for comment do%>
	<p>
		<strong>Posted <%=time_ago_in_words(comment.created_at)%></strong>
	</p>
	<% end %>
<% end %>  
</div>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
